<%= form_with(model: booking_clerk, local: true) do |form| %>
  <% if booking_clerk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking_clerk.errors.count, "error") %> prohibited this booking_clerk from being saved:</h2>

      <ul>
      <% booking_clerk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :booking_clerk_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :booking_clerk_last_name %>
  </div>

  <div class="field">
    <%= form.label :address_line_1 %>
    <%= form.text_field :address_line_1, id: :booking_clerk_address_line_1 %>
  </div>

  <div class="field">
    <%= form.label :address_line_2 %>
    <%= form.text_field :address_line_2, id: :booking_clerk_address_line_2 %>
  </div>

  <div class="field">
    <%= form.label :town %>
    <%= form.text_field :town, id: :booking_clerk_town %>
  </div>

  <div class="field">
    <%= form.label :post_code %>
    <%= form.text_field :post_code, id: :booking_clerk_post_code %>
  </div>

  <div class="field">
    <%= form.label :tel_no %>
    <%= form.text_field :tel_no, id: :booking_clerk_tel_no %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :booking_clerk_email %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest, id: :booking_clerk_password_digest %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :booking_clerk_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
