<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :user_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :user_last_name %>
  </div>

  <div class="field">
    <%= form.label :address_line_1 %>
    <%= form.text_field :address_line_1, id: :user_address_line_1 %>
  </div>

  <div class="field">
    <%= form.label :address_line_2 %>
    <%= form.text_field :address_line_2, id: :user_address_line_2 %>
  </div>

  <div class="field">
    <%= form.label :town %>
    <%= form.text_field :town, id: :user_town %>
  </div>

  <div class="field">
    <%= form.label :post_code %>
    <%= form.text_field :post_code, id: :user_post_code %>
  </div>

  <div class="field">
    <%= form.label :tel_no %>
    <%= form.text_field :tel_no, id: :user_tel_no %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest, id: :user_password_digest %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :user_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
