<p id="notice"><%= notice %></p>

<h1 class="display-4 text-center">Loans</h1>

<!-- links for filtering loans -->
<div class="text-center btn-group-md" role="group">
  <%= link_to "Placed", loans_path(sort: 'placed'), class: "btn btn-primary" %>
  <%= link_to "Cancelled", loans_path(sort: 'cancelled'), class: "btn btn-primary" %>
  <%= link_to "Returned", loans_path(sort: 'returned'), class: "btn btn-primary" %>
  <%= link_to "Reset", loans_path, class: "btn btn-secondary" %>
</div>

<table class="table text-center spacer">
  <thead>
    <tr>
      <th>Loan #</th>
      <th>Member #</th>
      <th>Begin Date</th>
      <th>End Date</th>
      <th>Books</th>
      <th>Returned?</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!-- iterate through each loan -->
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.id %></td>
        <td><%= loan.user_id %></td>
        <td><%= loan.begin_date %></td>
        <td><%= loan.end_date %></td>
        <td><%= loan.loan_lines.size %></td>
        <td><%= loan.returned %></td>
        <td><%= loan.status.titleize %></td>
        <td><%= link_to 'Review', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="btn-group-md" role="group">
  <%= link_to 'Export List to Excel', loans_path(format: "xlsx"), class: "btn btn-primary" %>
</div> 
